[submodule "zsh/oh-my-zsh"]
	branch = master
	update = rebase
	path = zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "emacs.d"]
	branch = develop
	update = rebase
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "bash_it"]
	path = bash_it
	url = https://github.com/Bash-it/bash-it.git
	branch = master
	update = rebase
